<ul class="pagination pagination-sm qgrid-pager">
    <li>
        <a href="#" ng-click="pageToFirst()" ng-disabled="cantPageBackward()">
            <span class="glyphicon glyphicon-step-backward"></span>
        </a>
    </li>
    <li>
        <a href="#" ng-click="pageBackward()" ng-disabled="cantPageBackward()">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
    </li>
    <li ng-repeat="pageLink in pageLinks"  ng-show="!pageLink.hidden" ng-class="{'active' : pageLink.active}">
        <a href="#" ng-click="setCurrentPage(pageLink.value)">
            {{pageLink.title}}
        </a>
    </li>
    <li>
        <a href="#" ng-click="pageForward()" ng-disabled="cantPageForward()">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </li>
    <li>
        <a href="#" ng-click="pageToLast()" ng-disabled="cantPageToLast()">
            <span class="glyphicon glyphicon-step-forward"></span>
        </a>
    </li>
</ul>